rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userEmail}/records/{recordId} {
      allow create: if false;
    }
  }
}